.fix{
    background-image: url( https://www.itprotoday.com/sites/itprotoday.com/files/styles/article_featured_retina/public/programming%20evolution.jpg?itok=WTj9-yNz);
    background-repeat: no-repeat;
    background-size:  100%;
   
}